<div class="container register">

    <div class="registerForm" style="margin-left: 30%; margin-top: 0.8%; border: 1px solid #ccc; padding: 20px; max-width: 450px;">

        <form [formGroup]="myForm" id="myForm" (ngSubmit)="InsertProduct(myForm.value)">

            <!-- <div class="mb-3">
                <label for="userId" style="display: block;">User ID :</label>
                <input type="number" class="form-control" id="userId" formControlName="userId">
                <div *ngIf="myForm.get('userId')!.touched && myForm.get('userId')!.invalid">
                    <div *ngIf="myForm.get('userId')!.hasError('required')">
                        <font color="red"><b>User ID is Required.</b></font>
                    </div>
                    <div *ngIf="myForm.get('userId')!.hasError('pattern')">
                        <font color="red"><b>Invalid User ID</b></font>
                    </div>
                </div>
            </div> -->

            <div class="mb-3">
                <label for="productName" style="display: block;">Product Name :</label>
                <input type="text" class="form-control" id="userName" formControlName="productName">
                <div *ngIf="myForm.get('productName')!.touched && myForm.get('productName')!.invalid">
                    <div *ngIf="myForm.get('productName')!.hasError('required')">
                        <font color="red"><b>Product Name is Required.</b></font>
                    </div>
                    <div *ngIf="myForm.get('productName')!.hasError('pattern')">
                        <font color="red"><b>Invalid product Name</b></font>
                    </div>
                </div>
            </div>

            <div class="mb-3">
                <label for="productDesc" style="display: block;">Product Description :</label>
                <input type="text" class="form-control" id="userName" formControlName="productDesc">
                <div *ngIf="myForm.get('productDesc')!.touched && myForm.get('productDesc')!.invalid">
                    <div *ngIf="myForm.get('productDesc')!.hasError('required')">
                        <font color="red"><b>Product Description is Required.</b></font>
                    </div>
                    <!-- <div *ngIf="myForm.get('productDesc')!.hasError('pattern')">
                        <font color="red"><b>Invalid product Name</b></font>
                    </div> -->
                </div>
            </div>

            <div class="mb-3">
                <label for="productPrice" style="display: block;">product price :</label>
                <input type="text" class="form-control" id="productPrice" formControlName="productPrice">
                <div *ngIf="myForm.get('productPrice')!.touched && myForm.get('productPrice')!.invalid">
                    <div *ngIf="myForm.get('productPrice')!.hasError('required')">
                        <font color="red"><b>product price is Required.</b></font>
                    </div>
                    <div *ngIf="myForm.get('productPrice')!.hasError('pattern')">
                        <font color="red"><b>Invalid product price</b></font>
                    </div>
                </div>
            </div>

            <div class="mb-3">
                <label for="productQuantity" style="display: block;">product Quantity :</label>
                <input type="text" class="form-control" id="productQuantity" formControlName="productQuantity">
                <div *ngIf="myForm.get('productQuantity')!.touched && myForm.get('productQuantity')!.invalid">
                    <div *ngIf="myForm.get('productQuantity')!.hasError('required')">
                        <font color="red"><b>product quantity is Required.</b></font>
                    </div>
                    <div *ngIf="myForm.get('productQuantity')!.hasError('pattern')">
                        <font color="red"><b>Invalid product quantity</b></font>
                    </div>
                </div>
            </div>

            <button type="button" class="btn btn-success" style="margin-right: 3%;" (click)="InsertProduct(myForm.value)">Insert</button>
            <button type="reset" class="btn btn-secondary" style="margin-right: 3%;">Reset</button>
            <button  class="btn btn-danger" routerLink="/manageproductcomponent">back</button>

        </form>

        <font id="result"><b>{{result}}</b></font>
    </div>
</div>